@mixin text-bold {
    font-weight: bold;
}
@mixin header-1 {
    color: $primary;
    font-size: $header-1;
    line-height: $header-1 * 1.7;
    text-align: center;
    @include text-bold();
}
@mixin header-2 {
    color: $secondary;
    font-size: $header-2;
    line-height: $header-2 * 1.7;
    text-align: center;
    @include text-bold();
}
@mixin header-3 {
    color: $secondary;
    font-size: $header-3;
    line-height: $header-3 * 1.7;
    text-align: center;
    @include text-bold();
}
@mixin btn {
    background-color: $primary;
    color: $secondary;
    @include text-bold();
    text-align: center;
    padding: $s $s*4;
    border-radius: 4px;
    &:hover{
        cursor: pointer;
    }
}
